:host > div {
  position: absolute;


  width: calc( var(--car-size) * 10 );
  height: calc( var(--car-size) * 1 );
  box-sizing: content-box;

  border-bottom: 10px solid black;
  background-color: grey;


}
