:host > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: gray;
}

:host > div > div {
  width: calc( var(--car-size) * 20 );
  height: calc( var(--car-size) * 20 );

  background-color: white;
  position: relative;
}
